.form{
    display: grid;
    grid-template: 40px 40px/ 1fr 1fr;
    gap: 17px
}

.buttonForm{
    grid-column: 1/-1;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    cursor: pointer;
}

div {
    padding: 36px
}

.inputs{
    border-radius: 5px;
    border: 1px solid #D5D4D8;
}

.meme--image{
    max-width: 100%;
}

.top {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.meme {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}